html,
body {
    height: 100vh;
    overflow: hidden;
    font-family: roboto;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0E0E0;
}

body {
    padding: 24px;
}

#app {
    height: 100%;
}